/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

body {
  font-size: 16px;
}

#post-content img {
  max-width: 100%;
}
.box-price {
  border: 3px solid #4fbfa8;
  border-radius: 10px;
  padding: 24px 0;

}

.box-price .price {
  color: #4fbfa8;
}

.navbar-brand .logo-text {
  color: black;
  margin: 0 0;
}
